<!-- <li class="list-group-item border-bottom-0">
    <div class="d-flex justify-content-between">
        <div class="content">
            <b>@{{m.user.username}}</b> {{m.text}}
        </div>
        <div class="time ">{{m.created_at}}</div>
    </div>
</li> -->

<ul class="list-group list-group-flush">
    {% if object.messages %}
        {% for m in object.messages.all %}
            <li class="list-group-item bordder-bottom-0">
                <div class="d-flex justify-content-between">
                    <div class="content">
                        <b>@{{m.user.username}}</b> {{m.text}}
                    </div>
                    <div class="time ">{{m.created_at}}</div>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <p>Nenhuma mensagem enviada ainda</p>
    {% endif %}
</ul>